DB_HOST=Your Host Name
DB_USER=MySQL Username
DB_PASSWORD=MySQL Password
DB_NAME=MySql schema Name
DB_PORT=Database Port (default is 3306)
DEV_SECRET=Developer Secret Key (for CURD routes and other purposes)